body {
	background: #ffffff;
  	background: -moz-linear-gradient(top,  #ffffff 0%, #cecece 100%);
  	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cecece));
 	background: -webkit-linear-gradient(top,  #ffffff 0%,#cecece 100%);
  	background: -o-linear-gradient(top,  #ffffff 0%,#cecece 100%);
  	background: -ms-linear-gradient(top,  #ffffff 0%,#cecece 100%);
  	background: linear-gradient(to bottom,  #ffffff 0%,#cecece 100%);
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cecece',GradientType=0 );
  	background-attachment: fixed;	
}

.icon_style {
	height: 24px;
	width: 24px;
	cursor: pointer;
	text-align: center;
	margin-left: 15px;
}

.form-error {
	color:red;
	font-size:30px;
}

.poster {
	height:200px;
	width:140px;
	border:5px solid black;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.field-name {
	font-size: 14px;
	font-weight: bold;
	text-shadow: 0 0 7px rgba(0,0,0, 0.5); 
	color:grey;
}

.comment {
    background-color: #f0f0f0;
    border-radius: 10px;
    margin: 10px;
}

.preformatted {
    white-space: pre;
    font-size: 24px;
	font-weight: bold;
	color: white;
}

.preformatted-small {
    white-space: pre;
    font-size: 16px;
	font-weight: bold;
	color: white;
}

.icon-star {
	height: 48px;
	width: auto;
	cursor: pointer;
	text-align: center;
}

.number-rate {
	font-size: 48px;
	font-weight: bold;
	text-shadow: 2px 2px 8px #FF0000;
	text-align : center;
}

#logo {
	margin-left: -15px;
	margin-top: -15px;
	margin-right: -15px;
	height: 50px;
	width: auto;
}

.vr {
	border-left: 1px solid black;
	height: 500 px;
}
}