<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>Home page</title>
	<link type="text/css" rel="stylesheet" href="inc/css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="inc/css/style.css" />
</h:head>
<h:body>
	<f:view>
		<ui:include src="header.xhtml" >
			<ui:param name="pseudo" value="#{usersBean.pseudo}"/>
		</ui:include>
		<h:form class="form-horizontal" method="post" action="connect.xhtml">
			<fieldset>
				<legend>Movie Liker</legend>
				<div class="form-group">
					<h:outputLabel for="email" class="col-lg-2 control-label">Email</h:outputLabel>
					<div class="col-lg-2">
						<h:inputText id="email" class="form-control" value="#{usersBean.email}"/>
					</div>
				</div>
				<div class="form-group">
					<h:outputLabel for="password" class="col-lg-2 control-label">Password</h:outputLabel>
					<div class="col-lg-2">
						<h:inputSecret class="form-control" id="password" value="#{usersBean.password}"/>
						<div class="checkbox">
							<h:outputLabel> <input type="checkbox" name="remember" />
								Remember me
							</h:outputLabel>
						</div>
					</div>
				</div>
				<h:outputText value="${success}" />
				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<button type="reset" class="btn btn-default">Cancel</button>
						<h:commandButton class="btn btn-primary" value="Submit" action="#{usersBean.connect}" />
					</div>
				</div>
			</fieldset>
		</h:form>
	</f:view>
</h:body>
</html>