<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>Home page</title>
	<link type="text/css" rel="stylesheet" href="inc/css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="inc/css/style.css" />
</h:head>
<h:body>
	<f:metadata>
    	<f:event type="preRenderView" listener="#{usersBean.disconnect}" />
	</f:metadata>
</h:body>
</html>