<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/mLiker/home.xhtml">
					<img id="logo" src="inc/pictures/logo-mini.png"/>
				</a>
			</div>
	
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home </a></li>
					<c:if test="#{pseudo != 'nop'}">
						<li><a href="/mLiker/usermovies.xhtml">My Movies</a></li>
						<li><a href="#">My Finder</a></li>
						
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">My Space
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">Last watched</a></li>
								<li><a href="#">My criteria</a></li>
								<li><a href="#">My awards</a></li>
								<li class="divider"></li>
								<li><a href="#">My profile</a></li>
								<li class="divider"></li>
								<li><a href="#">My friends</a></li>
							</ul>
						</li>
					</c:if>
				</ul>
				<h:form class="navbar-form navbar-left">
					<div class="form-group">
						<h:inputText id="title" class="form-control" value="#{moviesBean.title}"/>
					</div>
					<h:commandButton class="btn btn-default" value="Search" action="#{moviesBean.find}"/>
				</h:form>
				<ul class="nav navbar-nav navbar-right">
					<c:choose>
						<c:when test="#{pseudo != 'nop'}">
							<li><a><h:outputText value="Logged as #{pseudo }"/></a></li>
							<li><a href="/mLiker/disconnect.xhtml">Log out</a></li>
						</c:when>
						<c:otherwise>
							<li><a href="/mLiker/connect.xhtml">Sign in</a></li>
							<li><a href="/mLiker/register.xhtml">Register</a></li>
						</c:otherwise>
					</c:choose>
				</ul>
			</div>
		</div>
	</nav>
</ui:composition>