<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>Register</title>
	<link type="text/css" rel="stylesheet" href="inc/css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="inc/css/style.css" />
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="inc/js/jquery-1.11.3.min.js"></script>
</h:head>
<h:body>
	<f:view>
		<ui:include src="header.xhtml">
			<ui:param name="pseudo" value="#{usersBean.pseudo}" />
		</ui:include>
		<div class="panel panel-default">
			<div class="panel-heading">Results</div>
			<div class="panel-body">
				<table class="table table-striped table-hover ">
					<thead>
						<tr>
							<th>#</th>
							<th>Movie title</th>
							<th>Released date</th>
							<th>IMDb Id</th>
						</tr>
					</thead>
					<tbody>
						<c:forEach items="#{moviesBean.moviesList }" var="movie">
							<tr>
								<td><h:outputText value="#{movie.movieid }" /></td>
								<td><a href="/mLiker/moviedisplay.xhtml?idMovie=#{movie.movieid }"> <h:outputText
											value="#{movie.title }" />
								</a></td>
								<td><h:outputText value="#{movie.year }" /></td>
								<td><h:outputText value="#{movie.imdbid }" /></td>
							</tr>
						</c:forEach>
					</tbody>
				</table>
			</div>
		</div>
	</f:view>
</h:body>
</html>