<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>My Movies</title>
	<link type="text/css" rel="stylesheet" href="inc/css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="inc/css/style.css" />
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="inc/js/jquery-1.11.3.min.js"></script>
</h:head>
<h:body>
	<f:metadata>
		<f:event listener="#{movies2UsersBean.display}" type="preRenderView"></f:event>
	</f:metadata>
	<f:view>
		<ui:include src="header.xhtml">
			<ui:param name="pseudo" value="#{usersBean.pseudo}" />
		</ui:include>
		<div class="movie-content">
			<div class="col-lg-2"/>
			<div class="col-lg-8">
				<div class="panel panel-default">
					<div class="panel-heading">Ratings - #{usersBean.pseudo}</div>
					<div class="panel-body">
						<ul class="list-group">
							<ui:repeat var="usersMovie" value="#{movies2UsersBean.usersMovies}" varStatus="status">
								<li class="list-group-item" style="height: 220px">
									<div class="col-lg-3">
										<img src="#{usersMovie.movie.poster }" class="poster" />
									</div>
									<div class="col-lg-9">
										<h:outputText value="#{status.index + 1} - #{usersMovie.movie.title}" />
									</div>
								</li>
							</ui:repeat>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-2"/>
		</div>
	</f:view>
</h:body>
</html>